.input{
    margin-top: 5%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.DocIMage{
    margin:0  0 2rem 0;
    width: 30rem;
    text-align: center;
    border : 1.5px solid black;
    border-radius: 10px;
    
}


.DocIMage img{
width:20rem;   
padding:10px;
}
.DocIMage p{
font-size: 1.1rem;   
}
.inputstyle{
    width:100%;
    display:grid;
    justify-content: center;
    grid-template-columns: auto auto;
    gap:50px 65px;
}




.button{
    width: 42.5%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.buttons{
    text-align: center;
    width: 20%;
    margin: 2rem auto 0 auto;
    
}
.buttons input {
display:block;
}




/* .button{

    display:flex;
    justify-content: center;
    flex-direction: row;
} */


.button Button{
    margin-top:20px;
    margin-right:10px;
}

.submitbutton{
margin-top:10px !important;
}

.input.kyc-detail-input-fields-outer {
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    /* flex-direction: row; */
    gap: 40px;
}

.inputstyle.kyc-detail-input-fields {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.inputstyle.kyc-detail-input-fields > div {
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 24%;
}

.inputstyle.kyc-detail-input-fields label {
    font-weight: 600;
}

tbody.font-weight-normal tr th {
    font-weight: 400;
}

.input.kyc-detail-input-fields-outer .DocIMage {
    padding: 10px;
}

.input.kyc-detail-input-fields-outer .DocIMage p {
    margin-bottom: 0px;
}

.input.kyc-detail-input-fields-outer .DocIMage img {
    width: auto;
    height: 220px;
}

@media (max-width:991.98px){

    .input.kyc-detail-input-fields-outer .DocIMage, .inputstyle.kyc-detail-input-fields > div {
        width: 100%;
    }
    
    .input.kyc-detail-input-fields-outer {
        padding: 15px;
    }
    
    .input.kyc-detail-input-fields-outer .DocIMage img {
        width: 100%;
        height: auto;
    }

}