.tittle{
    font-size: 1.5rem;
    margin-top: -16px;
}


.inputstyle{
    margin:10PX 0;
    display: flex;
    flex-direction:row;
    gap: 0 34px;
    margin: 20px 0;
}
.inputstyle .input1 #standard-select-currency-native{
    padding-right: 24px;
    min-width: 559px;;
}
/* td.datacell {
    background-color: red;
    color: white;
} */

.tabelcontent{
    width:100%;
    background-color: red;
    color:white;
}
.tabelcontent >p{
    padding:9px;
}